<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <add key="activeMQ" value="activemq:failover:(tcp://192.168.199.26:61616)?randomize=false" />
    <add key="app" value="&quot;articles&quot;: {         &quot;domain&quot;: null,         &quot;messageCenterUrl&quot;: null,         &quot;commonProblemUrl&quot;: null,         &quot;companyAboutUrl&quot;: null,         &quot;platformAboutUrl&quot;: null,         &quot;dealRuleUrl&quot;: null     }" />
</appSettings>
